@main("O нас") {
<div class="main">
    <!-- Our Clients Start-->
    <div class="content">
        <div class="container">
            <!-- Title, Breadcrumb End-->
            <div class="divider"></div>
            <div class="row">

                <div class="choice col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">О нас</h3>
                    <p>
                        Наше основное направление - выдача краткосрочных займов физическим лицам. С момента открытия нашими услугами воспользовались уже несколько тысяч человек.
                        Цель нашей компании заключается в разрешении срочных финансовых сложностей своих клиентов. Мы уверены, что внезапные проблемы требует решительных действий, поэтому предлагаем эффективные, ответственные и быстрые решения. Мы стремимся создать все условия для того, чтобы сделать процесс предоставления займов максимально легким и удобным.
                    </p>

                    <div><b>Почему Вам нужно обратиться именно к нам</font>:</b></div>

                    <ul class="check-list why">
                        <li>Минимум документов</li>
                        <li>Перед получением займа Вы всегда будете знать, какую сумму вы должны выплатить по окончании срока.</li>
                        <li>Вы всегда сможете погасить заем досрочно. Мы не возьмем за это дополнительную комиссию.</li>
                        <li> Для нас не имеет решающего значения Ваша кредитная история.</li>
                        <li> Мы понимаем, что проблемы с выплатой кредита в прошлом не означают не способность погашать заем сегодня. </li>
                    </ul>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
}