@main("Контакты") {
<div class="main">
    <!-- Main Content start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form">
                    <h3 class="title">Как добраться</h3>
                    <div id="maps" class="google-maps">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="address widget">
                        <h3 class="title">Главный  офис</h3>
                        <ul class="contact-us">
                            <li>
                                <i class="icon-map-marker"></i>
                                <p>
                                    <strong>Адрес:</strong> @globals.address
                                </p>
                            </li>
                            <li>
                                <i class="icon-phone"></i>
                                <p>
                                    <strong>Тел:</strong> @globals.phoneMain
                                </p>
                            </li>
                            <li>
                                <i class="icon-envelope"></i>
                                <p>
                                    <strong>Email:</strong><a href="mailto:@globals.emailMain">@globals.emailMain</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-info widget">
                        <h3 class="title">Business Hour</h3>
                        <ul>
                            <li><i class="icon-time"> </i>Monday - Friday 9am to 5pm </li>
                            <li><i class="icon-time"> </i>Saturday - 9am to 2pm</li>
                            <li><i class="icon-remove-circle"> </i>Sunday - Closed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
    <!-- Main Content end-->
</div>
}