@main("Главная") {
<div id="main">
<!-- Slider Start-->
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner rslider">
        <ul>
            <!-- THE FIRST SLIDE -->
            <li data-delay="6000" data-masterspeed="300" data-transition="fade">
                <div class="slotholder"><img src="@routes.Assets.at("img/slider/main_background_1.jpg")" data-fullwidthcentering="on" alt="Pixma"></div>
                <div class="caption large_text sfr start"
                     data-x="660"
                     data-y="85"
                     data-speed="700"
                     data-endspeed="800"
                     data-start="1000"
                     data-easing="easeOutQuint"
                     data-endeasing="easeOutQuint">
                     <span class="dblue">Займ наличными!</span>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1400"
                     data-speed="1050"
                     data-y="145"
                     data-x="680">
                    <div class="list-slide">
                        <i class="icon-thumbs-up-alt slide-icon"></i>
                        <h5 class="dblue"> От 2 000 до 100 000 рублей </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1800"
                     data-speed="1200"
                     data-y="190"
                     data-x="680">
                    <div class="list-slide">
                        <i class="icon-time slide-icon"></i>
                        <h5 class="dblue"> Деньги за 20 минут на любые цели! </h5>
                    </div>
                </div>
            </li>
            <!-- THE RESPONSIVE SLIDE -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                <img src="@routes.Assets.at("img/slider/main_background_2.jpg")" data-fullwidthcentering="on" alt="">
                <div class="caption large_text sfr start"
                     data-x="660"
                     data-y="85"
                     data-speed="700"
                     data-endspeed="800"
                     data-start="1000"
                     data-easing="easeOutQuint"
                     data-endeasing="easeOutQuint">
                    <span class="dblue">Займ наличными!</span>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1400"
                     data-speed="1050"
                     data-y="145"
                     data-x="665">
                    <div class="list-slide">
                        <i class="icon-thumbs-up-alt slide-icon"></i>
                        <h5 class="dblue"> От 2 000 до 100 000 рублей </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1800"
                     data-speed="1200"
                     data-y="190"
                     data-x="665">
                    <div class="list-slide">
                        <i class="icon-time slide-icon"></i>
                        <h5 class="dblue"> Деньги за 20 минут на любые цели! </h5>
                    </div>
                </div>
            </li>
            <!-- THE RESPONSIVE SLIDE -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                <img src="@routes.Assets.at("img/slider/main_background_3.jpg")" data-fullwidthcentering="on" alt="">
                <div class="caption large_text sfr start"
                     data-x="660"
                     data-y="85"
                     data-speed="700"
                     data-endspeed="800"
                     data-start="1000"
                     data-easing="easeOutQuint"
                     data-endeasing="easeOutQuint">
                    <span class="dblue">Займ пенсионный!</span>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1400"
                     data-speed="1050"
                     data-y="145"
                     data-x="665">
                    <div class="list-slide">
                        <i class="icon-thumbs-up-alt slide-icon"></i>
                        <h5 class="dblue"> До 30 000 рублей </h5>
                    </div>
                </div>
                <div class="caption list_slide lfb tp-caption start"
                     data-easing="easeOutExpo"
                     data-start="1800"
                     data-speed="1200"
                     data-y="190"
                     data-x="665">
                    <div class="list-slide">
                        <i class="icon-heart-empty slide-icon"></i>
                        <h5 class="dblue"> Льготные условия независимо от суммы! </h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Slider End-->

<div class="divider"></div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="posts-block col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <article>
                    <h3 class="title">Срочно нужны деньги? Тогда вам сюда!</h3>
                    <div class="post-content">
                        <div class="img-content">
                            <img src="@routes.Assets.at("img/team/team.jpg")" alt="">
                        </div>

                        <p>Почти у каждого в жизни бывают случаи, что срочно нужны деньги, а взять их не откуда....Сломался автомобиль, собираетесь в отпуск, хотите сделать крупную покупку или закончить ремонт? Просто оформляйте микрозаем в организации &laquo;Микрозайм&raquo; за 20 минут и деньги у вас на руках!</p>
                    </div>
                </article>
            </div>
            <!-- Left Section End -->
            <!-- Skill Section Start -->
            <div class="choice col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="title">«Микрозайм» предлагает:</h3>
                <ul class="check-list why">
                    <li>Сумма займа от 2 000 до 100 000 рублей. </li>
                    <li>Оформление займа по паспорту и второму документу на выбор.</li>
                    <li>Время рассмотрение заявки 20 минут. </li>
                    <li>Возможность оформления займа и получение денег дома с гарантией конфиденциальности.</li>
                    <li>Без скрытых комиссий и штрафов.</li>
                </ul>
            </div>
            <!-- Skill Section End -->
        </div>
    </div>
</div>
<div class="divider"></div>
</div>
}