@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <!--<title>@title</title>-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

        <!--<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>-->
        <!--<link rel="stylesheet" href='@routes.Assets.at("css/font-awesome/css/font-awesome.css")'>-->
        <!--<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>-->
        <!--<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))'></script>-->


        <meta charset="utf-8">
        <title>Pixma Responsive HTML5/CSS3 Template | FIFO THEMES</title>
        <meta name="description" content="Pixma Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
        <meta name="author" content="FIFOTHEMES.COM">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Fonts  -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Library CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/fonts/font-awesome/css/font-awesome.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/animations.css")" media="screen)">
        <link rel="stylesheet" href="@routes.Assets.at("css/superfish.css")" media="screen">
        <link rel="stylesheet" href="@routes.Assets.at("css/team-member.css")" media="screen">
        <link rel="stylesheet" href="@routes.Assets.at("css/prettyPhoto.css")" media="screen">
        <link rel="stylesheet" href="@routes.Assets.at("css/graph.css")" media="screen">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("css/style.css")">
        <!-- Skin -->
        <link rel="stylesheet" href="@routes.Assets.at("css/colors/blue.css")" id="colors">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("css/theme-responsive.css")">
        <!-- Switcher CSS -->
        <link href="@routes.Assets.at("css/switcher.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/spectrum.css")" rel="stylesheet">
        <!-- Favicons -->
        <link rel="shortcut icon" href="@routes.Assets.at("img/ico/favicon.ico")">
        <link rel="apple-touch-icon" href="@routes.Assets.at("img/ico/apple-touch-icon.png")">
        <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("img/ico/apple-touch-icon-72.png")">
        <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("img/ico/apple-touch-icon-114.png")">
        <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("img/ico/apple-touch-icon-144.png")">
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="@routes.Assets.at("js/respond.min.js")"></script>
        <![endif]-->
        <!--[if IE]>
        <link rel="stylesheet" href="@routes.Assets.at("css/ie.css")">
        <![endif]-->


    </head>
    <body>
    <div class="wrap">
        <!-- Header Start -->
        <header id="header">
            <!-- Header Top Bar Start -->
            <div class="top-bar">
                <div class="slidedown collapse">
                    <div class="container">
                        <div class="phone-email pull-left">
                            <a><i class="icon-phone"></i> Call Us : +880 41 723 272</a>
                            <a><i class="icon-envelope"></i> Email : mail@@example.com</a>
                        </div>
                        <div class="pull-right">
                            <ul class="social pull-left">
                                <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                                <!--<li class="dribbble"><a href="#"><i class="icon-dribbble"></i></a></li>-->
                                <li class="linkedin"><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li class="rss"><a href="#"><i class="icon-rss"></i></a></li>
                            </ul>
                            <!--<div id="search-form" class="pull-right">-->
                                <!--<form action="#" method="get">-->
                                    <!--<input type="text" class="search-text-box">-->
                                <!--</form>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <!-- Header Top Bar End -->
                <!-- Main Header Start -->
                <div class="main-header">
                    <div class="container">
                        <!-- TopNav Start -->
                        <div class="topnav navbar-header">
                            <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                                <i class="icon-angle-down icon-current"></i>
                            </a>
                        </div>
                        <!-- TopNav End -->
                        <!-- Logo Start -->
                        <div class="logo pull-left">
                            <h1>
                                <a href="index-2.html">
                                    <img src="@routes.Assets.at("img/logo.png")" alt="pixma" width="125" height="60">
                                </a>
                            </h1>
                        </div>
                        <!-- Logo End -->
                        <!-- Mobile Menu Start -->
                        <div class="mobile navbar-header">
                            <a class="navbar-toggle" data-toggle="collapse" href=".html">
                                <i class="icon-reorder icon-2x"></i>
                            </a>
                        </div>
                        <!-- Mobile Menu End -->
                        <!-- Menu Start -->
                        <nav class="collapse navbar-collapse menu">
                            <ul class="nav navbar-nav sf-menu">
                                <li>
                                    <a href="@routes.Application.index()">
                                        Главная
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">
                                        Портфолио
                           <span class="sf-sub-indicator">
                           <i class="icon-angle-down "></i>
                           </span>
                                    </a>
                                    <ul>
                                        <li><a href="portfolio-two.html" class="sf-with-ul">2 Column</a></li>
                                        <li><a href="portfolio-three.html" class="sf-with-ul">3 Column</a></li>
                                        <li><a href="portfolio-four.html" class="sf-with-ul">4 Column</a></li>
                                        <li><a href="portfolio-single.html" class="sf-with-ul">Single Item Page</a></li>
                                        <li><a href="portfolio-single-big.html" class="sf-with-ul">Single Large Item Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@routes.Application.about()">
                                        О нас
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- Menu End -->
                    </div>
                </div>
                <!-- Main Header End -->
        <!-- Header End -->
        </header>
    <!-- Content Start -->

     @content

    <!-- Content End -->
    <!-- Footer Start -->
    <footer id="footer">
        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                        <h3>О нас</h3>
                        <p>

                        </p>
                    </section>
                    <!--<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">-->
                        <!--<h3>Twitter Stream</h3>-->
                        <!--<ul id="tweets">-->
                        <!--</ul>-->
                    <!--</section>-->
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
                        <h3>Contact Us</h3>
                        <ul class="contact-us">
                            <li>
                                <i class="icon-map-marker"></i>
                                <p>
                                    <strong>Address:</strong> 250 Sher-E- Bangla Road, <br>
                                    Khulna, Bangladesh
                                </p>
                            </li>
                            <li>
                                <i class="icon-phone"></i>
                                <p><strong>Phone:</strong> +880 41 723 272</p>
                            </li>
                            <li>
                                <i class="icon-envelope"></i>
                                <p><strong>Email:</strong><a href="mailto:info@@fifothemes.com">info@@fifothemes.com</a></p>
                            </li>
                        </ul>
                    </section>
                    <!--<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">-->
                        <!--<h3>Flickr Photostream</h3>-->
                        <!--<ul id="flickrfeed" class="thumbs"></ul>-->
                    <!--</section>-->
                </div>
            </div>
        </div>
        <!-- Footer Top End -->
    </footer>
    <!-- Scroll To Top -->
    <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
    </div>
    <!-- Wrap End -->

    </body>
</html>
