@main("Требования к заёмщику") {
<div class="main">
    <!-- Our Clients Start-->
    <div class="content">
        <div class="container">
            <!-- Title, Breadcrumb End-->
            <div class="row">
                <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12 sitemap">
                        <h3 class="title">Требования к заёмщику</h3>
                        <!--<div class="post-content ">-->
                            <ul>
                                <li>
                                    <div><b>Требования к клиентам для оформления микрозайма</font>:</b></div>
                                        <ul>
                                            <li>Возраст от 21 до 65 лет;</li>
                                            <li>Гражданство РФ;</li>
                                            <li>Постоянное место работы со стажем не менее трех месяцев, на момент оформления кредита;</li>
                                            <li>Два контактных номера родственников.</li>
                                        </ul>
                                </li>
                                <li>
                                    <div><b>Документы необходимые для оформления микрозайма<font color="#f16522">*</font>:</b></div>
                                        <ul>
                                            <li>Паспорт РФ;</li>
                                        </ul>
                                </li>
                                <li>
                                    <div><b>Второй документ на выбор:</b></div>
                                        <ul>
                                            <li>ИНН;</li>

                                            <li>Страховое свидетельство обязательного пенсионного страхования</li>

                                            <li>Загранпаспорт</li>

                                            <li>Военный билет;</li>

                                            <li>Водительское удостоверение</li>
                                        </ul>
                                </li>
                                <li>
                                    <div><i><font color="#f16522">* - Для более полной оценки и большей вероятности принятия положительного решения организация может запросить дополнительные документы:</font></i></div>
                                        <ul>
                                            <li>Справка о доходах;</li>

                                            <li>Поручительство физического лица.</li>
                                        </ul>
                                </li>
                            </ul>
                        <!--</div>-->
                </div>

            </div>
        </div>
    </div>
</div>
}