@main("Виды займов") {
<div class="main">
    <!-- Our Clients Start-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="title">Займы наличными</h3>
                    <!-- pricing table -->
                    <div class="divider"></div>
                    <div class="p_table three-col">
                        <!-- column style 1 -->
                        <div class="column_1">
                            <ul>
                                <!-- column header -->
                                <li class="header_row_1 align_center">
                                    <h2 class="col1">«До зарплаты»</h2>
                                </li>
                                <li class="header_row_2 align_center">
                                    <h2 class="col1">От 2000 до 10 000 рублей</h2>
                                </li>

                                <li class="row_style_3 align_center">
                                    <span> Моментальное рассмотрение заявки, простота оформления и минимальные требования к заемщику</span>
                                </li>

                                <li class="row_style_1 align_center">
                                    <span>От 2000 до 10 000 рублей</span>
                                </li>
                                <li class="row_style_3 align_center">
                                    <span>Срок: от трех до шестнадцати дней</span>
                                </li>
                            </ul>
                        </div>
                        <div class="column_2">
                            <ul>
                                <!-- column header -->
                                <li class="header_row_1 align_center">
                                    <h2 class="col2">«Выгодный»</h2>
                                </li>

                                <li class="header_row_2 align_center">
                                    <h2 class="col1">От 15 000 до 30 000 рублей</h2>
                                </li>

                                <li class="row_style_4 align_center">
                                    <span> Уменьшенная процентная ставка, удобные сроки, дополнительно требуется справка о доходах, или поручительства физического лица</span>
                                </li>

                                <li class="row_style_2 align_center">
                                    <span>От 15 000 до 30 000 рублей</span>
                                </li>
                                <li class="row_style_4 align_center">
                                    <span>Срок: от одного до трех месяцев</span>
                                </li>

                                <!--<li class="footer_row"><a href="#" class="sign_up btn-color btn-small">Sign up!</a></li>-->
                            </ul>
                        </div>
                        <div class="column_3">
                            <ul>
                                <!-- column header -->
                                <li class="header_row_1 align_center">
                                    <h2 class="col3">«Ответственный»</h2>
                                </li>

                                <li class="header_row_2 align_center">

                                    <h2 class="col1">От 40 000 до 100 000 рублей</h2>
                                </li>
                                <li class="row_style_3 align_center">
                                    <span> Идеальный кредит для малого бизнеса, ежемесячное погашение, дополнительно требуется справка о доходах и поручительства физического лица</span>
                                </li>

                                <li class="row_style_1 align_center">
                                    <span>От 40 000 до 100 000 рублей</span>
                                </li>
                                <li class="row_style_3 align_center">
                                    <span>Срок: от трех месяцев до одного года</span>
                                </li>


                                <!--<li class="footer_row"><a href="#" class="sign_up btn-color btn-small">Sign up!</a></li>-->
                            </ul>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12 sitemap">
                <h3 class="title">Оформление заявок:</h3>
                <!--<div class="post-content ">-->
                <ul>
                    <li>в офисах организацииж</li>
                    <li>по телефону: 7-777-777-77-77 (звонок бесплатный);</li>
                    <li>оn-line заявка на сайте;</li>
                </ul>
                <h3 class="title">Получение денег:</h3>
                <ul>
                    <li>в офисах организацииж</li>
                    <li>выезд кредитного специалиста на дом (гарантия безопасности и конфиденциальности)<font color="#f16522">*</font>;</li>
                    <font color="#ff15f178">*</font>
                </ul>
            </div>

        </div>
    </div>
</div>
}